<?xml version="1.0"?>
<config>
	<modules>
		<Ecloud_Pickit>
			<version>0.1.0</version>
		</Ecloud_Pickit>
	</modules>
	<global>
		<helpers>
			<pickit>
				<class>Ecloud_Pickit_Helper</class>
			</pickit>
		</helpers>
		<blocks>
			<pickit>
				<class>Ecloud_Pickit_Block</class>
			</pickit>
			<checkout>
				<rewrite>
					<onepage_shipping_method_available>Ecloud_Pickit_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
				</rewrite>
			</checkout>
		</blocks>
		<models>
			<pickit>
				<class>Ecloud_Pickit_Model</class>
				<resourceModel>pickit_resource</resourceModel>
			</pickit>
			<pickit_resource>
				<class>Ecloud_Pickit_Model_Resource</class>
				<entities>
					<order>
						<table>pickit_order</table>
					</order>
				</entities>
			</pickit_resource>
			<sales>
				<rewrite>
					<order_api>Ecloud_Pickit_Model_Sales_Order_Api</order_api>
				</rewrite>
			</sales>
			<sales>
				<rewrite>
					<order_api_v2>Ecloud_Pickit_Model_Sales_Order_Api_V2</order_api_v2>
				</rewrite>
			</sales>
		</models>
		<resources>
			<pickit_setup>
				<setup>
					<module>Ecloud_Pickit</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pickit_setup>
			<pickit_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pickit_write>
			<pickit_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pickit_read>
		</resources>
		<fieldsets>
			<customer_account>
				<dni><to_quote>dni</to_quote></dni>
			</customer_account>
			<checkout_onepage_quote>
				<dni><to_customer>dni</to_customer></dni>
			</checkout_onepage_quote>
			<customer_dataflow>
				<dni><billing>1</billing><shipping>1</shipping></dni>
			</customer_dataflow>
			<sales_copy_order_billing_address>
				<dni><to_order>*</to_order></dni>
			</sales_copy_order_billing_address>
			<sales_copy_order_shipping_address>
				<dni><to_order>*</to_order></dni>
			</sales_copy_order_shipping_address>
			<sales_convert_quote_address>
				<dni><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></dni>
			</sales_convert_quote_address>
			<sales_convert_order_address>
				<dni><to_quote_address>*</to_quote_address></dni>
			</sales_convert_order_address>
			<customer_address>
				<dni><to_quote_address>*</to_quote_address></dni>
			</customer_address>
		</fieldsets>  
		<template>
            <email>
                <carriers_ocaconfig_template_encuesta_servicio module="pickit">
                    <label>Encuesta Servicio PickIt</label>
                    <file>pickit_encuesta.html</file>
                    <type>html</type>
                </carriers_ocaconfig_template_encuesta_servicio>
            </email>
        </template>
		<events>
			<sales_order_place_after>
				<observers>
					<pickit_order_success>
						<type>singleton</type>
						<class>pickit/observer</class>
						<method>guardarDataOrden</method>
					</pickit_order_success>
				</observers>
			</sales_order_place_after>
			<sales_order_item_cancel>
				<observers>
					<pickit_order_cancel>
						<type>singleton</type>
						<class>pickit/observer</class>
						<method>cancelarOrden</method>
					</pickit_order_cancel>
				</observers>
			</sales_order_item_cancel>
			<imposicion_pickit>
				<observers>
					<imposicion_pickit_handler>
						<type>singleton</type>
						<class>pickit/observer</class>
						<method>imposicionPickit</method>
					</imposicion_pickit_handler>
				</observers>
			</imposicion_pickit>
			<pickit_generar_retiro_masivo>
				<observers>
					<pickit_shipment_generarmasivo>
						<type>singleton</type>
						<class>pickit/observer</class>
						<method>generarRetiroMasivo</method>
					</pickit_shipment_generarmasivo>
				</observers>
			</pickit_generar_retiro_masivo>
			<controller_action_predispatch_checkout_cart_add>
				<observers>
					<controller_action_predispatch_checkout_cart_add_handler>
						<type>singleton</type>
						<class>pickit/observer</class>
						<method>borrarVariablesEnvio</method>
					</controller_action_predispatch_checkout_cart_add_handler>
				</observers>
			</controller_action_predispatch_checkout_cart_add>
			<sales_quote_remove_item>
				<observers>
					<sales_quote_remove_item_handler>
						<type>singleton</type>
						<class>pickit/observer</class>
						<method>borrarVariablesEnvio</method>
					</sales_quote_remove_item_handler>
				</observers>
			</sales_quote_remove_item>
			<checkout_cart_save_after>
				<observers>
					<checkout_cart_save_after_handler>
						<type>singleton</type>
						<class>pickit/observer</class>
						<method>borrarVariablesEnvio</method>
					</checkout_cart_save_after_handler>
				</observers>
			</checkout_cart_save_after>
			<checkout_controller_onepage_save_shipping_method>
				<observers>
					<checkout_controller_onepage_save_shipping_method_handler>
						<type>singleton</type>
						<class>pickit/observer</class>
						<method>cambiarDireccionEnvio</method>
					</checkout_controller_onepage_save_shipping_method_handler>
				</observers>
			</checkout_controller_onepage_save_shipping_method>
		</events>
	</global>
	<crontab>
	        <jobs>
	            <Ecloud_Pickit>
	                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
	                <run>
	                	<model>pickit/observer::cronImponer</model>
	                </run>
	            </Ecloud_Pickit>
	        </jobs>
	</crontab>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<pickit before="Mage_Adminhtml">Ecloud_Pickit_Adminhtml</pickit>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
            <updates>
                <Ecloud_Pickit>
                    <file>pickit.xml</file>
                </Ecloud_Pickit>
            </updates>
        </layout>
		<menu>
			<sales>
				<children>
					<pickit translate="title" module="pickit">
						<title>Pickit</title>
						<sort_order>91</sort_order>			   
						<children>
							<pedidos translate="title" module="pickit">
								<title>Administración de envíos</title>
								<sort_order>20</sort_order>
								<action>adminhtml/pickit_pedidos/index</action>
							</pedidos>
						</children>
					</pickit>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<sales>
							<children>
								<pickit translate="title" module="pickit">
									<title>Pickit</title>
									<sort_order>1000</sort_order>
									<children>
										<pedidos translate="title" module="pickit">
											<title>Administración de envíos</title>
										</pedidos>
									</children>
								</pickit>
							</children>
						</sales>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pickit>
					<file>Ecloud/pickit.xml</file>
				</pickit>
			</updates>
		</layout>
		<events>
	        <core_block_abstract_prepare_layout_before>
	            <observers>
	                <pickit_core_block_abstract_prepare_layout_before>
	                    <class>pickit/observer</class>
	                    <method>addMassAction</method>
	                </pickit_core_block_abstract_prepare_layout_before>
	            </observers>
	        </core_block_abstract_prepare_layout_before>
	        <pickit_generar_retiro_masivo>
				<observers>
					<pickit_shipment_generarmasivo>
						<type>singleton</type>
						<class>pickit/observer</class>
						<method>generarRetiroMasivo</method>
					</pickit_shipment_generarmasivo>
				</observers>
			</pickit_generar_retiro_masivo>
	    </events>
	</adminhtml>
   	<default>
		<carriers>
			<pickitconfig>
				<active>0</active>
				<apikey>apiKeyRetailer1</apikey>
				<apikey_webapp>apiKeyWebAppRetailer</apikey_webapp>
				<token_id>P4NB49QYE6</token_id>
				<unidadpeso>kg</unidadpeso>
				<atributo_peso>weight</atributo_peso>
				<precio>automatico</precio>
				<link_text>Abrir panel Pickit</link_text>
				<global_idusuario>taxvat</global_idusuario>
				<cache>0</cache>
				<fancybox>1</fancybox>
				<version_fancy>0</version_fancy>
				<pesomax>30</pesomax>
				<url_webservice_test>http://169.57.131.170/Pickit/web/app.php/CallMethod</url_webservice_test>
				<url_webservice_prod>http://apppickit.ocasa.com/app.php/CallMethod</url_webservice_prod>
				<title>PickIt</title>
				<model>pickit/carrier_pickit</model>
				<description><![CDATA[Recibí el pedido en tu casa.]]></description>
				<regla>0</regla>
				<paquete_tipo>1</paquete_tipo>
			</pickitconfig>
		</carriers>
	</default>
	<frontend>
		<routers>
    		<pickitrouter>
    			<use>standard</use>
    			<args>
    				<module>Ecloud_Pickit</module>
    				<frontName>pickit</frontName>
    			</args>
    		</pickitrouter>
    	</routers>
		<layout>
			<updates>
				<pickit_available module="pickit">
					<file>pickit.xml</file>
				</pickit_available>
			</updates>
		</layout>
	</frontend>
</config> 